# How to complete this assignment
First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract *sqlite* database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going *Cell -> Run All*

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [1]:
import sqlite3
import numpy as np
import pandas as pd
import os

pd.set_option('display.max_column', None)

In [2]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'database.sqlite')

In [3]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)

In [4]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [5]:
print(player_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11060 non-null  int64
 1   player_api_id       11060 non-null  int64
 2   player_name         11060 non-null  object
 3   player_fifa_api_id  11060 non-null  int64
 4   birthday            11060 non-null  object
 5   height              11060 non-null  float64
 6   weight              11060 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB
None

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [6]:
players_180_190 = len(player_data[(player_data['height'] >= 180) & (player_data['height'] <= 190)])

In [7]:
print(players_180_190)

5925

In [8]:
assert(isinstance(players_180_190, int))

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [9]:
player_data['birthday'] = pd.to_datetime(player_data['birthday'])

In [10]:
players_1980 = len(player_data[player_data['birthday'].dt.year == 1980])

In [11]:
print(players_1980)

434

In [12]:
assert(isinstance(players_1980, int))

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [13]:
highest_players = player_data.sort_values(by=['weight', 'player_name'], ascending=[False, True])\
                  .head(10)['player_name'].tolist()

In [14]:
print(highest_players)

['Kristof van Hout', 'Tim Wiese', 'Jeroen Verhoeven', 'Ishmael Miller', 'Cassio', 'Christopher Samba', 'Lars Unnerstall', 'Marcus Hahnemann', 'Abdoulaye Faye', 'Enoch Showunmi']

In [15]:
assert(len(highest_players) == 10)
assert(isinstance(highest_players, list))
for i in range(10):
    assert(isinstance(highest_players[i], str))

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [16]:
years_born_players_series = player_data.value_counts(player_data[\
                            player_data['birthday'].dt.year.isin(range(1980,1991))\
                            ]['birthday'].dt.year).sort_index()

In [17]:
years_born_players = list(zip(years_born_players_series.index.astype(int), years_born_players_series))

In [18]:
print(years_born_players)

[(1980, 434), (1981, 475), (1982, 487), (1983, 541), (1984, 607), (1985, 593), (1986, 710), (1987, 722), (1988, 802), (1989, 723), (1990, 696)]

In [19]:
assert(len(years_born_players) == 11)
assert(isinstance(years_born_players, list))
for i in range(10):
    assert(isinstance(years_born_players[i], tuple))
    assert(isinstance(years_born_players[i][0], int))
    assert(isinstance(years_born_players[i][1], int))

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [20]:
adriano_mean, adriano_std = player_data[player_data['player_name'].str.startswith("Adriano")]['height'].describe()\
                            [['mean', 'std']].tolist()

In [21]:
assert(isinstance(adriano_mean, float))
assert(isinstance(adriano_std, float))

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [22]:
dow_with_min_players_born = player_data["birthday"].dt.day_name().value_counts()\
                            .sort_values(ascending=True).index[0]

In [23]:
assert(isinstance(dow_with_min_players_born, str))

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [24]:
match_data = pd.read_sql("SELECT * FROM Match;", db)

In [25]:
match_data.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [26]:
league_data = pd.read_sql("SELECT * FROM League;", db)

In [27]:
league_data.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [28]:
match_league_max = match_data.groupby("league_id")["league_id"].size()
match_league_max = match_league_max.where(match_league_max == match_league_max.max()).dropna()
league_most_matches = league_data.join(match_league_max, on="id", how="right")["name"].min()
print(league_most_matches)

England Premier League

In [29]:
assert(isinstance(league_most_matches, str))

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [30]:
team_players_columns = match_data.columns[55:77]
player_index = match_data[team_players_columns]\
               .apply(pd.Series.value_counts)\
               .sum(axis=1)\
               .sort_values()\
               .index[-1]

In [31]:
max_matches_player = player_data.query("player_api_id == @player_index")\
                    .player_name.astype(str).iloc[0]

In [32]:
print(max_matches_player)

Steve Mandanda

In [33]:
assert(isinstance(max_matches_player, str))

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [34]:
player_attributes_data = pd.read_sql("SELECT * FROM Player_Attributes;", db)
ext_player_attributes_data = player_attributes_data.loc[:, ~player_attributes_data.columns.isin(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate'])]
ext_player_attributes_data = ext_player_attributes_data.corr().abs()
ext_player_attributes_data = ext_player_attributes_data.where(np.triu(np.ones(ext_player_attributes_data.shape), k=1).astype(bool))
top_5_most_corr = ext_player_attributes_data.unstack().dropna().sort_values(ascending=False).head(5)
top_correlated_features = [correlation[0] for correlation in top_5_most_corr.iteritems()]

In [35]:
print(top_correlated_features)

[('gk_reflexes', 'gk_positioning'), ('gk_reflexes', 'gk_handling'), ('gk_positioning', 'gk_handling'), ('sliding_tackle', 'standing_tackle'), ('standing_tackle', 'marking')]

In [36]:
assert(len(top_correlated_features) == 5)
assert(isinstance(top_correlated_features, list))
for i in range(5):
    assert(isinstance(top_correlated_features[i], tuple))
    assert(isinstance(top_correlated_features[i][0], str))
    assert(isinstance(top_correlated_features[i][1], str))

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [37]:
import math 
ext_player_attributes_data = player_attributes_data.merge(player_data, how="inner", left_on="player_api_id", right_on="player_api_id").sort_values("date", ascending=False).drop_duplicates(subset=["player_api_id"], keep='first')
neymar_p_join_pa = ext_player_attributes_data[ext_player_attributes_data["player_name"].str.startswith("Neymar")]
except_neymar_p_join_pa = pd.concat([ext_player_attributes_data, neymar_p_join_pa]).drop_duplicates(keep=False)

player_attribute_data_cols = player_attributes_data.loc[:, ~player_attributes_data.columns.isin(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate'])].columns.tolist()

neymar_p_join_pa = neymar_p_join_pa[player_attribute_data_cols].to_numpy()[0]

def euclidian_distance(row):
  row["result"] = np.sqrt(pow(row[player_attribute_data_cols].to_numpy() - neymar_p_join_pa, 2).sum())
  return row

neymar_similarities = except_neymar_p_join_pa.apply(euclidian_distance, axis=1).dropna(subset=["result"]).sort_values(by=["result", "player_name"]).head(5)["player_name"].to_list()

In [38]:
print(neymar_similarities)

['Paulo Dybala', 'Eden Hazard', 'Giovani dos Santos', 'Arjen Robben', 'Lionel Messi']

In [39]:
assert(len(neymar_similarities) == 5)
assert(isinstance(neymar_similarities, list))
for i in range(5):
    assert(isinstance(neymar_similarities[i], str))

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [40]:
team_data = pd.read_sql("SELECT * FROM Team;", db)
team_league_matches = league_data[league_data["name"]=="Germany 1. Bundesliga"].merge(match_data[match_data["season"]=="2008/2009"].merge(team_data[team_data["team_long_name"]=="Borussia Dortmund"], left_on="home_team_api_id", right_on="team_api_id"), left_on="id", right_on="league_id")
borussia_bundesliga_2008_2009_matches = len(team_league_matches.index)

In [41]:
print(borussia_bundesliga_2008_2009_matches)

17

In [42]:
assert(isinstance(borussia_bundesliga_2008_2009_matches, int))

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [43]:
league_match = league_data[league_data["name"]=="Germany 1. Bundesliga"].merge(match_data[match_data["season"]=="2008/2009"], left_on="id", right_on="league_id")
home=league_match.merge(team_data, left_on="home_team_api_id", right_on="team_api_id").groupby("team_api_id").size()
away=league_match.merge(team_data, left_on="away_team_api_id", right_on="team_api_id").groupby("team_api_id").size()
team_most_matches_bundesliga_2008_2009 = (home+away).max()

In [44]:
print(team_most_matches_bundesliga_2008_2009)

34

In [45]:
assert(isinstance(team_most_matches_bundesliga_2008_2009, int))

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [46]:
team_data[team_data.team_long_name == 'Arsenal']

      id  team_api_id  team_fifa_api_id team_long_name team_short_name
27  3459         9825               1.0        Arsenal             ARS

In [47]:
arsenal_home = match_data[match_data["season"]=="2015/2016"].merge(team_data[team_data["team_long_name"]=="Arsenal"], left_on="home_team_api_id", right_on="team_api_id")
arsenal_away = match_data[match_data["season"]=="2015/2016"].merge(team_data[team_data["team_long_name"]=="Arsenal"], left_on="away_team_api_id", right_on="team_api_id")
arsenal_won_matches_2015_2016 = len(arsenal_away[arsenal_away["away_team_goal"]>arsenal_away["home_team_goal"]].index) + len(arsenal_home[arsenal_home["home_team_goal"]>arsenal_home["away_team_goal"]].index)

In [48]:
print(arsenal_won_matches_2015_2016)

20

In [49]:
assert(isinstance(arsenal_won_matches_2015_2016, int))

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [50]:
home = match_data[match_data["season"]=="2015/2016"].merge(team_data, left_on="home_team_api_id", right_on="team_api_id")[["team_long_name", "home_team_goal", "away_team_goal"]]
away = match_data[match_data["season"]=="2015/2016"].merge(team_data, left_on="away_team_api_id", right_on="team_api_id")[["team_long_name", "home_team_goal", "away_team_goal"]]
total_home = home.groupby("team_long_name").size()
total_away = away.groupby("team_long_name").size()
won_home = home[home["home_team_goal"]>home["away_team_goal"]].groupby("team_long_name").size()
won_away = away[away["away_team_goal"]>away["home_team_goal"]].groupby("team_long_name").size()
won = won_home + won_away
total = total_home + total_away
team_highest_winrate_2015_2016 = (won/total).idxmax()

In [51]:
print(team_highest_winrate_2015_2016)

SL Benfica

In [52]:
assert(isinstance(team_highest_winrate_2015_2016, str))

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [53]:
match_data['date'] = pd.to_datetime(match_data['date'])
season_all_sorted = league_data[league_data["name"]=="England Premier League"].merge(match_data[match_data["season"]=="2010/2011"], left_on="id", right_on="league_id").sort_values("date")
home=season_all_sorted.groupby("home_team_api_id")["home_team_api_id"].size()
away=season_all_sorted.groupby("away_team_api_id")["away_team_api_id"].size()
teams = (home+away).index.tolist()

In [54]:
highest_gap_england_2010_2011 = max([season_all_sorted[(season_all_sorted["home_team_api_id"]==team)\
                                | (season_all_sorted["away_team_api_id"]==team)]["date"].diff().max().days for team in teams])

In [55]:
print(highest_gap_england_2010_2011)

18

In [56]:
assert(isinstance(highest_gap_england_2010_2011, int))

### Warning! Do not change anything in the area below

In [57]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")